* {
	@apply box-border m-0 p-0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap");

body {
	background: rgba(37, 42, 54, 0.9);
}
.container {
	@apply shrink-0 flex w-screen h-full;
}
.create_account {
	@apply text-[#2a2b3d] text-center text-[19px] not-italic font-semibold leading-[100%] mt-6 mb-1;
	font-family: "Poppins", sans-serif;
}
.account_text {
	@apply text-[828282] text-center text-[13.5px] not-italic font-medium leading-[148.148%] ml-4;
	font-family: Inter;
}
.tag {
	@apply text-[#000000] ml-4 text-[13px] not-italic font-medium leading-[153.846%] self-stretch w-11/12 m-[2%] text-left;
	font-family: "Inter", sans-serif;
}
input {
	@apply flex m-auto w-11/12 h-auto items-center gap-[auto] self-stretch text-[#e2e2e2] text-sm not-italic font-normal leading-[171.429%]  p-4 rounded-[15px] border-2 border-solid border-[#e2e2e2] bg-[#ffffff] max-md:m-2;
	font-family: "Inter", sans-serif;
}

.signup_mail {
	@apply text-[#25aff2] text-[13px] not-italic font-normal leading-[normal] text-end m-[2%];
	font-family: "Poppins", sans-serif;
}
button {
	@apply flex w-[90%] h-auto justify-center items-center shrink-0 cursor-pointer text-[#fffffff] text-[15px] not-italic font-semibold leading-[80%] m-4 p-4 rounded-[44px] border-[none] bg-[#25aff2];
	font-family: "Inter", sans-serif;
}
.link_text {
	@apply text-[#333333] text-sm not-italic font-medium leading-[100%] items-center text-center w-11/12 m-[2%];
	font-family: "Inter", sans-serif;
}
.link_text a {
	@apply text-[#2f6fb9] text-[12.5px] not-italic font-medium leading-[100%];
	font-family: "Inter", sans-serif;
}
.left {
	@apply max-w-[550px] max-md:w-full h-[585px] shrink-0 items-center flex flex-col rounded-[30px_0px_0px_30px] p-5 max-md:rounded-[30px] max-md:m-2;
	background: linear-gradient(180deg, #bed1fb 0%, #f0f2f7 31.25%, #eaf3f3 100%);
}
.right {
	@apply shadow-[0px_8px_16px_0px_rgba(0,0,0,0.08),0px_0px_4px_0px_rgba(0,0,0,0.04)]  md:w-[485px] shrink-0 rounded-[20px] bg-[#ffffff] max-md:m-2 max-md:w-full;
}
.boxes {
	@apply mx-[10%] my-[5%];
}
.num {
	@apply flex justify-between items-center w-11/12 ml-[0%] mr-[2%] my-[2%];
}
.t_c {
	@apply text-[#282e66] text-[13px] not-italic font-normal leading-[normal] w-[90%] m-[2%] items-start;
	font-family: "Inter", sans-serif;
}
.cards {
	@apply h-[100px] shadow-[0px_4px_24px_3px_#4444] flex relative mt-16 m-4 p-4 rounded-[20px] w-full bg-[#f0f0f0];
}
img {
	@apply min-h-[128px] w-4/12 items-center object-scale-down -mt-16 m-2.5;
}
.option {
	@apply h-[50px] w-[50px] absolute bg-[#25aff2]  right-0 bottom-0 mb-0 mr-0 items-center rounded-tl-3xl rounded-br-[20.25px];
}
.tick {
	@apply text-white items-center m-1;
}

.card_heading {
	@apply text-[#333333] text-lg not-italic font-semibold leading-[18px] capitalize mb-2;
	font-family: "Poppins", sans-serif;
}
.card_text {
	@apply text-[#333333] text-[13px] not-italic font-medium leading-[130.769%];
	font-family: "Inter", sans-serif;
}
.left_heading {
	@apply text-[#333333] text-center text-[19px] not-italic font-semibold leading-[65.853%] m-5;
	font-family: "Inter", sans-serif;
}
.left_text {
	@apply text-[#333333] text-[12.5px] not-italic font-normal leading-[168%] mt-auto m-6 items-center;
	font-family: "Inter", sans-serif;
}
.link_text a {
	font-family: "Inter", sans-serif;
}
.terms {
	@apply flex items-center ml-4 my-2;
}
.terms input {
	@apply w-6 h-6 items-start;
}
.main-canvas {
	@apply flex items-center justify-center w-screen bg-slate-600;
}
.banner {
	@apply flex flex-col md:flex-row items-center justify-center max-md:gap-4;
}
